html, body {
  margin: 0;
  padding: 0;
  background: black;   /* black background */
}

img.fullscreen {
  width: 100%;    /* always fit width */
  height: auto;   /* natural height, allows scrolling */
  display: block;
}
